.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .headerContent {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .title {
    margin: 0;
  }
  
  .divider {
    margin: 20px 0;
  }
  
  .modal {
    .ant-modal-title {
      color: blue; 
    }
  
    .ant-list-item:hover {
      background-color: lightblue;
    }
  }